<h1>Editing model association for <%= @model_association.primary_model.name.singularize %> model</h1>

<%= render 'editform' %>

<%= link_to 'Back', new_model_association_path(:primary_model_id => @model_association.primary_model_id) %>
