<h1>Editing model association for <%= @model_association.primary_model.name.singularize %> model</h1>

<%= render 'editform' %>

<%= link_to 'Show', @model_association %> |
<%= link_to 'Back', model_associations_path %>
