<h1>New controller_action</h1>

<h2>Create New Controller Action for <%= @controller_action.part.name.pluralize %> controller</h2>

<p>A controller action is a pairing of a method in the controller and a view.</p>

<p>Conventional controller methods: index, show, new, create, edit, update, destroy</p>

<%= render 'form' %>

<%= link_to 'Back', controller_actions_path %>
