<p id="notice"><%= notice %></p>

<p>
  <%= "#{@model_attribute.name}:#{@model_attribute.attribute_type.description}" %>
</p>



<%= link_to 'Edit', edit_model_attribute_path(@model_attribute) %> |
<%= link_to 'Back', model_attributes_path %>
